*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background: hsl(233, 26%, 24%);
}
.btn{
    border-radius: 50px;
    padding: 10px 40px;
    background: hsl(136, 65%, 51%);
}
.link-light:hover{
    color: hsl(136, 65%, 51%);
}
* {
    padding: 0;
    margin: 0;
  }
  
/*____Choose Easybank____*/
.Easybank-bg {
    background-color:hsl(220, 16%, 96%);
  }
  .Easybank {
    max-width: 1350px;
}